
.idea/
.secrets/
.hidden/
__pycache__/
.ropeproject/
*venv*/
.trash/
build/
dist/
*.egg-info/
deb_dist/
.vscode/

Pipfile*
*.log
*.pid
*.pyc
.directory
*.tar.gz

src/tool/debug_tool/conf_apicomm.json

.mypy_cache/
